.table {
  border-collapse: collapse; /* Tablo hücrelerini birleştir */
  border: 1px solid black; /* Tablonun etrafına siyah bir sınır ekle */
}

.table th, .table td {
  border: 1px solid black; /* Hücrelere siyah sınır ekle */
}
td{
  width: 350px;
}
th{
  width: 350px;
}

.row{
  height: 40px;
  text-align: center;
  border: 1px solid black;
  cursor: pointer;
}

.cart{
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  min-width: 300px;
  display: flex;
  flex-direction: column;
}